.profile{
    max-width: 250px;
    max-height: 200px;
    border: 2px solid rgb(4, 7, 8);
    border-radius: 50%;

}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr td{
    padding: 10px 20px;
    border: 1px solid #e2e2e2;
}