<form #add="ngForm" (ngSubmit)="addMoney()" class="form">
    <h1 style="text-align: center;font-family: Georgia; font-weight: bold; ">Wallet</h1>
    <div class="row">
        <div class="form-group">

            <input type="number" class="form-control" placeholder="Enter Amount that you want to add in wallet"
                name="wallet" [(ngModel)]="user.wallet" required #wallet="ngModel"
                [class.is-invalid]="wallet.invalid && wallet.touched">
            <small class="text-danger" [class.d-none]="wallet.valid || wallet.untouched">Please Enter Initial
                Wallet Amount

            </small>
        </div>

    </div>
    <div class="container text-center mt20 mb20">

        <button id="add" [disabled]="add.form.invalid" type="submit" class="btn" mat-raised-button color="accent"
            routerLink="/mdashboard/addMoney">
            Add
        </button>
        <button id="add" type="button" class="btn" mat-raised-button color="accent" routerLink="/mdashboard/wallet">
            Back
        </button>
    </div>
</form>