<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>add_business</mat-icon>
  </button>
  <span class="ml20">City E-Mart</span>
  <span class="example-spacer"></span>
  <a routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>home</mat-icon>
  </a>

  <a routerLink="/login" mat-icon-button class="example-icon favorite-icon  ml20"
    aria-label="Example icon-button with heart icon">
    Login
  </a>

  <a routerLink="/register" mat-icon-button class="example-icon favorite-icon  ml20 mr20"
    aria-label="Example icon-button with heart icon">
    Register
  </a>


  <a routerLink="/merchant" mat-icon-button class="example-icon favorite-icon ml20 mr20"
    aria-label="Example icon-button with heart icon">
    Merchant
  </a>


</mat-toolbar>