<div class="bootstrap-wrapper mt20">

    <div class="container-fluid">
        <mat-card class="mb20">
            <h1 class="all">All Products</h1>
        </mat-card>
        <div class="row">
            <div class="col-md-4" *ngFor="let p of product">

                <mat-card>


                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image">

                        </div>
                        <mat-card-title>
                            {{p.name}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{p.price}}
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p>{{p.description}}</p>
                    </mat-card-content>

                    <mat-card-actions>

                        <button mat-stroked-button color="accent" class="ml20">
                            Price {{p.price}}
                        </button>

                        <button mat-raised-button color="accent" class="ml20" (click)="deleteItem(p)">
                            Delete
                        </button>

                        <button mat-stroked-button color="accent" class="ml20">
                            Qty {{p.qty}}
                        </button>
                    </mat-card-actions>

                </mat-card>



            </div>
        </div>
    </div>
</div>