<div class="header">
    <div class="container">
        <!-- <div class="navbar">
            <div class="logo">
                <img src="../../../assets/logo.png" width="155px">
            </div>
            
                <nav>
                <ul id="MenuItems">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Product</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a routerLink="/register" href="/register">Account</a></li>
                    <li><a href="account.html">Become a Supplier</a></li>
                </ul>
            </nav>
            <img src="../../../assets/home/cart.png" width="30px" height="30px">
            <img src="../../../assets/home/menu.png" class="menu-icon" onclick="menutoggle()">
        </div> -->

        <div class="row">
            <div class="col-2">
                <h1>Let’s Fashion Talks!</h1>
                <p>Don't let anyone ever dull your sparkle</p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="../../../assets/home/image4.jpg">
            </div>
        </div>
    </div>
</div>
    

<!--------------featured categories-------------->

<!-- <div class="categories">
    <h2 class="title">Featured Categories</h2>
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="../../../assets/home/category-1.jpg">
                <h4>Brand:House of Sensation</h4>
                <h3>Men's Slim Fit</h3>
                <p>Rs 2400</p>
            </div>
            <div class="col-3">
                <img src="../../../assets/home/category-2.jpg">
                <h4>Scott International</h4>
                <h3>Men's Cotton Round neck T-shirt</h3>
                <p>Rs 400</p>
            </div>
            <div class="col-3">
                <img src="../../../assets/home/category-3.jpg">
                <h4>Brand:Prokick</h4>
                <h3>Hooded Fleece Jacket</h3>
                <p>Rs 800</p>
            </div>
        </div>
    </div>
</div> -->

<!--------------featured products-------------->

    <!-- <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/home/product-1.jpg" alt="">
                <h4>Brand:Fancy Lifestyle</h4>
                <h3>Dark Red Gown</h3>
                <p>Rs 3000</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-1.jpg" alt="">
                <h4>Brand:Miss Chase Store</h4>
                <h3>Women's Mini Shift Dress</h3>
                <p>Rs 1200</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-2.jpg" alt="">
                <h4>Brand:Vimal Jonney</h4>
                <h3>Regular Fit Trackpants</h3>
                <p>Rs 500</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-3.jpg" alt="">
                <h4>Brand:House of Areem</h4>
                <h3>Red Printed T-shirt</h3>
                <p>Rs 600</p>
            </div>
        </div>
        
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/home/product-5.jpg" alt="">
                <<h4>Brand:House of Sensation</h4>
                <h3>Men's Slim Fit</h3>
                <p>Rs 1500</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-6.jpg" alt="">
                <h4>Brand:OOMPH! Store</h4>
                <h3>Crepe A-line Maxi Dress</h3>
                <p>Rs 1800</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-7.jpg" alt="">
                <h4>Brand:House of Sensation</h4>
                <h3>Men's Black T-shirt</h3>
                <p>Rs 500</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-8.jpg" alt="">
                <h4>Brand:Fossil Store</h4>
                <h3>Carlyle Silicone TouchScreen</h3>
                <p>Rs 2400</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="../../../assets/home/product-9.jpg" alt="">
                <h4>Brand:Fossil Store</h4>
                <h3>Hybrid Hr Smartwatch</h3>
                <p>Rs 14000</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-10.jpg" alt="">
                <h4>Brand:Bourge</h4>
                <h3>Vega-z1 Running Shoes</h3>
                <p>Rs 600</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-11.jpg" alt="">
                <h4>Brand:House of Sensation</h4>
                <h3>Men's Slim Fit</h3>
                <p>Rs 600</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/home/product-12.jpg" alt="">
                <h4>Brand:House of Areem</h4>
                <h3>Women's Anarkali</h3>
                <p>Rs 1500</p>
            </div>
        </div>
    </div> -->
<!---------offers-->
    <!-- <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="../../../assets/home/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusive Available on Passion for Fashion</p>
                    <h1>Alpha Smart Blutooth Calling Watch</h1>
                    <small>
                        Bfit Alpha Smart Bluetooth Calling Watch with 1.8" Color Full Touch Screen, ECG, SpO2, & Music Control, Continuous Heart Rate Monitor (Color : Black)<br>
                    </small>
                    <a href="" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div> -->
<!---------------brands-->
    <!-- <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="../../../assets/home/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="../../../assets/home/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="../../../assets/home/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="../../../assets/home/logo-philips.png">
                </div>
            </div>
        </div>
    </div> -->

<!------------------footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>
                        Dowmload App for Android and ios mobile phone.
                    </p>
                    <div class="app-logo">
                        <img src="../../../assets/home/play-store.png">
                        <img src="../../../assets/home/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../../../assets/home/logo.png">
                    <p>
                        "Fashion is part of the daily air and it changes all the time, with all the events. You can even see the approaching of a revolution in clothes. You can see and feel everything in clothes."
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follw us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright - Pasion for Fashion</p>
        </div>
    </div>
<!---------------------JS for toggle menu-->
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight="0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight=="0px")
        {
            MenuItems.style.maxHeight="200px";
        }
        else{
            MenuItems.style.maxHeight="0px";
        }
    }
</script>
